In [1]:
import sqlite3 as sl

server = sl.connect('server.db')
cursor = server.cursor()

In [2]:
query = """
CREATE TABLE IF NOT EXISTS acc(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    login TEXT UNIQUE NOT NULL,
    password TEXT NOT NULL,
    api TEXT,
    username TEXT UNIQUE NOT NULL,
    mail TEXT UNIQUE NOT NULL,
    reg_date TEXT NOT NULL,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    graduation TEXT,
    company TEXT
)
"""
cursor.execute(query)
server.commit()

In [4]:
cursor.execute(
    """
    INSERT INTO acc(login, password, username, mail, reg_date, first_name, last_name)
    VALUES('testlogin', 'testpass', 'testusername', 'test@mail.ru', '11.11.2011', 'CHLEN', 'HUI')
    """
)
server.commit()

In [5]:
cursor.execute("SELECT * FROM acc;")
cursor.fetchall()

[(1,
  'testlogin',
  'testpass',
  None,
  'testusername',
  'test@mail.ru',
  '11.11.2011',
  'CHLEN',
  'HUI',
  None,
  None)]

In [7]:
query = """
CREATE TABLE IF NOT EXISTS blocks(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    preferences TEXT NOT NULL,
    descr TEXT
)
"""
cursor.execute(query)
server.commit()

In [8]:
query = """
CREATE TABLE IF NOT EXISTS acc_block(
    acc INTEGER,
    block INTEGER,
    FOREIGN KEY(acc) REFERENCES acc(id),
    FOREIGN KEY(block) REFERENCES block(id)
)
"""
cursor.execute(query)
server.commit()